       <div class="hero-body hero-gradient">
            <div class="container" style="width: 70%;">
                <h1 class="is-size-1">
                    <b>{{ title }}</b>
                </h1>
                    <h3 class="is-size-3">
                <b>{{ subtitle }}</b>
                </h3>
                <ul class="pl-5 pb-5 is-size-5">
                    <li><span class="is-size-2" style="color: red;">&#10003;</span> Easy to understand, no jargon</li>
                    <li><span class="is-size-2" style="color: red;">&#10003;</span> See how lenders view your credit worthiness</li>
                    <li><span class="is-size-2" style="color: red;">&#10003;</span> Understand what can impact your ability to get credit</li>
                    <li><span class="is-size-2" style="color: red;">&#10003;</span> See what areas may need attention to improve your score</li>
                </ul>
                <button class="button equifax-blue is-rounded has-text-white">Get my FREE* Equifax Credit Report & Score</button>
                <p class="pl-5 pt-5">*Your first 30 days are free then it's £7.95 per month. You can cancel at any time.</p>
            </div>
        </div>