<footer class="has-text-white equifax-grey pt-5">
  <div class="content has-text-centered">
    <p>© Copyright 2020 Equifax Ltd.</p>
    <p>Equifax Limited is registered in England with Registered No. 2425920. Registered Office: 1 Angel Court, London, EC2R 7HJ.</p>
    <p>Equifax Limited is authorised and regulated by the Financial Conduct Authority.</p>
    <p>10.1.1 - WEB-1-8-932 </p>
  </div>
</footer>