<nav class="navbar equifax-red" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://cdn.freebiesupply.com/logos/large/2x/equifax-1-logo-black-and-white.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="equifaxNavbar" class="navbar-menu equifax-red">
    <div class="navbar-end">
        <div class="navbar-item pr-5">
            <a href="#" class="has-text-white">
                <i class="fas fa-user fa-2x"></i>
            </a>
        </div>
      <div class="navbar-item pr-5">
          <a href="#" class="has-text-white">
            Log in
          </a>
        </div>
    </div>
  </div>
</nav>