{% extends "base.html.twig" %}

{% block title %}Thank you! {% endblock %}

{% block body %}
    <h3 class="has-text-centered">Thank you!</h3>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}